<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<script src="js/main_ajax.js"></script>

<script>
	$(document)
			.ready(
					function() {
						$('#content')
								.each(
										function() {
											var content = $(this).children(
													'#contents');
											var el = document
													.getElementById('contents');
											var contents = $("#contents").val();
											var contents_text = $("#contents")
													.val().split(/\r\n|\r|\n/);
											var contents_short = contents_text[0]
													+ '\n'
													+ contents_text[1]
													+ '\n'
													+ contents_text[2]
													+ '\n'
													+ contents_text[3]
													+ " ..."
											var btn_more = $('<a href="javascript:void(0)" class="more" style="color: black; text-decoration: none;">더보기</a>');
											$(this).append(btn_more);
											if (contents_text.length >= 4) {
												content.html(contents_short)
											} else {
												btn_more.hide()
											}
											btn_more.click(toggle_content);
											function toggle_content() {
												if ($(this).hasClass('short')) {
													$(this).html('더보기');
													content
															.html(contents_short)
													$(this)
															.removeClass(
																	'short');
													el.style.height = "130px";
													console.log(el.scrollHeight
															+ "px");
												} else {
													$(this).html('접기');
													content.html(contents);
													$(this).addClass('short');
													el.style.height = el.scrollHeight
															+ "px";
													console.log(el.scrollHeight
															+ "px");
												}
											}
											console.log(el.scrollHeight + "px");
										});
					});
</script>

<style>
.swiper-container {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}

.swiper-container2 {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}

.swiper-slide {
	text-align: center;
	display: flex;
	/* 내용을 중앙정렬 하기위해 flex 사용 */
	align-items: center;
	/* 위아래 기준 중앙정렬 */
	justify-content: center;
	/* 좌우 기준 중앙정렬 */
}

.swiper-button-next, .swiper-button-prev {
	opacity: 1;
}

.swiper-button-next::after, .swiper-button-prev::after {
	display: none;
}

.footer {
	background-color: grey;
}

.r1 {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 6;
}

.box {
	margin: 20px auto;
}

.content {
	width: 800px;
	padding: 10px;
	border: 1px solid #ddd;
}

#contents {
	width: 100%;
	resize: none;
	overflow-y: hidden; /* prevents scroll bar flash */
	padding: 1.1em; /* prevents text jump on Enter keypress */
	padding-bottom: 0.2em;
	line-height: 1.6;
	height: auto;
}
</style>
<script src="js/login.js"></script>
</head>
<body>
	<header th:include="layout/header :: header"></header>
	<main style="margin-bottom: 10rem;">
		<div class="container">
			<div th:if="${#lists.size(MusicDetail)} > 0"
				th:each="item : ${MusicDetail}">
				<div class="player row my-4" id="player"
					style="background: #536976; background: -webkit-linear-gradient(to right, #292E49, #536976); background: linear-gradient(to right, #292E49, #536976);">
					<div class="info col-9">
						<div class="detail">
							<div class="my-3 d-flex flex-row">
								<div class="control my-2">
									<img class="fi-rr-play" id="playbtn" src="image/play.png"
										th:attrappend="id=${itemStat.count}"
										style="width: 5rem; height: 5rem;"><input type="hidden"
										id="listsSize" th:value="${itemStat.size}" name="listsSize">
								</div>
								<div class="title my-3 mx-3" style="color: white;">
									<div th:each="user : ${item.userList}">
										<span class="row text-muted fw-light ms-1 mt-1"
											style="font-size: 13px" th:text="${user.user_name}">작성자</span>
									</div>
									<div th:each="file : ${item.fileList}">
										<input type="hidden" th:value="${file.stored_file_path}"
											id="filePath" th:attrappend="id=${itemStat.count}">
									</div>
									<span class="fs-3" th:text="${item.artistName}"></span> - <span
										class="fs-3" th:text="${item.musicTitle}"></span>
									<div class="time my-2">
										<span id="current" style="color: #f89b00;"
											th:attrappend="id=${itemStat.count}">0:00</span> / <span
											id="duration" th:attrappend="id=${itemStat.count}">0:00</span>
									</div>
								</div>
							</div>

							<div id="wave" th:attrappend="id=${itemStat.count}"></div>

							<div class="row mt-2">
								<div class="volume">
									<img id="volumeIcon" class="volume-icon" src="image/volume.png"
										alt="Volume" style="width: 2rem; height: 2rem;"
										th:attrappend="id=${itemStat.count}" /> <input
										id="volumeSlider" class="volume-slider mx-2" type="range"
										name="volume-slider" min="0" max="100" value="50"
										th:attrappend="id=${itemStat.count}" />
								</div>
							</div>

						</div>

					</div>
					<div class="thumb col-3 d-flex justify-content-end my-3">
						<img src="image/sunshine blvd - Ocean Blue.jpg"
							style="width: 20rem; height: 20rem;" />
					</div>
				</div>
				<div class="row" style="margin-top: -2rem;">
					<form id="comment">
						<input type="image" name="button" src="image/profile.jpg"
							disabled="disabled"
							style="width: 2.5rem; height: 2.5rem; margin-bottom: -45px; border: none;">
						<input class="form-control border-top " type="text"
							placeholder="댓글 달기..." style="height: 2.5rem; padding-left: 3rem">
						<button type="submit"
							class="btn float-end bg-transparent text-primary"
							style="margin-top: -38px; border: none;">게시</button>
					</form>
					<div class="box row">
						<div class="col-2">
							<div>
								<img class="rounded-circle text-center mx-3"
									src="image/profile.jpg"
									style="width: 8rem; height: 8rem; overflow: hidden; display: block;">

								<div th:each="user : ${item.userList}">
									<input class="fw-bold my-2 mx-5" type="text" name="creatorId"
										readonly th:value="${user.user_name}"
										style="border: none; background-color: white"
										disabled="disabled">
								</div>
							</div>

						</div>
						<div class="col-10">
							<div class="row" id="content">
								<textarea cols="100%" id="contents" th:text="${item.musicDesc}"
									style="height: 130px; border: none; background-color: white;"
									readonly="readonly" disabled>[Verse 1]
I don't usually cry at all
But wow, is it always close
Ranging from a movie scene
To made up people in my dreams
The last time, if I recall
Was a feeling of being alone
I don't know if
Where I'm going isn't far, but

[Chorus]
In case I go
No need to be stressed. Got a ticket home
Cause damn. I really miss the shade of blue
Just take it slow
I'll wait to find love
Better hear the call again
For now, I will feel the ocean view
And I pray that it won't be over soon

[Verse 2]
Oh my, I miss the sun
Just wait it won't be too long
Till' we arrive the coming day
Please ignore my restless face
Cause it's too hard to keep it all together
Ever since we left
I guess it just makes sense
To what the reasoning was
When I said</textarea>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</main>
	<footer th:include="layout/footer :: footer"></footer>
</body>
<script src="/js/media.js"></script>
<script src="https://unpkg.com/wavesurfer.js@5.2.0/dist/wavesurfer.js"></script>
</html>